# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
/.idea/sonarlint/issuestore/
/.idea/sonarlint/issuestore/b/2/
/.idea/sonarlint/issuestore/4/
/.idea/sonarlint/issuestore/6/4/
/.idea/sonarlint/issuestore/5/
/.idea/sonarlint/issuestore/f/a/
/.idea/sonarlint/issuestore/9/f/
